<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <title>Team</title>
</head>
<body id="{{ team.getId() }}">
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://127.0.0.1:8000/team/ranking">LeaderBoard</a>
        </div>
    </div>
</nav>
<div style="background-color: #212529;" class="card text-white">
    <img src="{{ asset('dist/img/' ~ team.name ~ '.png') }}" alt="" style="width: 5rem; height: auto">
    <div class="card-body">
        <h2 class="card-title text-danger">{{ team.name ~ ' (' ~ team.getSkillMu() ~ ') ' }}</h2>
        <div id="ratio" data-victory="{{ victory[team.getId()] }}" data-defeat="{{ defeat[team.getId()] }}">
            <canvas id="doughnut-chart"></canvas>
        </div>
        <ul class="card-text">
            {% for match in matchs[team.getId()] %}
                <li>
                    <span>{{ match.getDuration() }}</span>
                    <h5>{{ teams[match.getIdTeam1()].name }}
                        {% if (match.winner == 0) %}
                            <i>N</i>
                        {% elseif (match.winner == 1) %}
                            <i style="color: #28a745">V</i>
                        {% elseif (match.winner == 2) %}
                            <i style="color: #dc3545">D</i>
                        {% endif %}
                        <span>-</span>
                        {% if (match.winner == 0) %}
                            <i>N</i>
                        {% elseif (match.winner == 1) %}
                            <i style="color: #dc3545">D</i>
                        {% elseif (match.winner == 2) %}
                            <i style="color: #28a745">V</i>
                        {% endif %}
                        {{ teams[match.getIdTeam2()].name }}</h5>
                </li>
            {% endfor %}
        </ul>
        <button class="btn btn-danger">Simulate match</button>
    </div>
</div>
<script>
    $(document).ready(() => {
        $('button').click(() => {
            const teamId = $('body').attr('id');

            window.location.href = 'http://127.0.0.1:8000/match/generate?&teamId=' + teamId;
        });
    });
</script>
<script>
    const victory = document.getElementById("ratio").dataset.victory;
    const defeat = document.getElementById("ratio").dataset.defeat;
    // init chart
    const doughnutChart = document.getElementById("doughnut-chart");
    const doughnutChartdata = {
        datasets: [{
            data: [victory, defeat],
            backgroundColor: ["#28a745", "#dc3545"]
        }],
        labels: ['victory', 'defeat']
    };
    const myDoughnutChart = new Chart(doughnutChart, {
        type: 'doughnut',
        data: doughnutChartdata,
    });
</script>
</body>
</html>
